.main {
  padding: 120px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  .head {
      font-size: 38px;
      background: -webkit-linear-gradient(45deg, rgba(195, 84, 255, 1) 8.63%, rgba(106, 127, 246, 1) 50%, rgba(92, 255, 192, 1) 86.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-weight: 900;
      width: fit-content;
      position: relative;
      margin-bottom: 24px;
  }
  .head::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translate(-50%,0);
      width: 80%;
      height: 2px;
      background : linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(117, 117, 117) 50%, rgb(0, 0, 0) 100%);
      transition: all 0.2s ease;
  }
}
  
.menu{
  margin-bottom: 10px;
}
  
  .card {
    display: flex;
    flex-direction: column;
    background: rgba(19, 19, 19, 0.76);
    padding: 8px;
    border-radius: 0.5rem;
    border: 1px solid rgba(94, 94, 94, 0.36);
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .label {
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
  }
  
  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .error {
    text-align: center;
    color: #f87171;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .result {
    max-width: 90rem;
    margin: 0 auto;
  }
  
  .resultHeading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .resultCard {
    display: flex;
    flex-direction: column;
    background: rgba(19, 19, 19, 0.76);
    padding: 12px;
    border-radius: 0.5rem;
    border: 1px solid rgba(94, 94, 94, 0.36);
    border-radius: 10px;
    margin-bottom: 10px;
  }
  